@import url("https://fonts.google.com/specimen/Pacifico?=pacifico");
@import url("https://fonts.google.com/specimen/Unna/about?query=unna");
@import url("https://fonts.google.com/specimen/Italianno?query=italian");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{

  font-family: "Pacifico", "unna-regular";
  width: 100%;
  height: 100%;
    background:#DBEAD2; /* Navegadores viejos */
  background: -webkit-linear-gradient(
    to left,
    #DBEAD2,
    #C1D0B5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #DBEAD2,
    #C1D0B5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
    margin: 0px;
}

.title{
    color: rgb(31, 23, 23);
}

.titles{
    position: center;
    top: 0;
    left: 0;
    font-family: "Pacifico-Regular", Helvetica;
    font-weight: 40px;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
.cabezera
{
    padding: 100px;
    width: 100%;
    border-collapse: collapse;
    background: color #99a98f;
}

.container{
    width: 100%;
    border-collapse: collapse;
    background-image: color #99a98f;
}

.header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #99a98f;
    box-shadow:inset;
    
}

.logo{
  color: #FFF8DE;
  font-size: 25px;
  display: flex;
  justify-content:left;
 
  
}

.Desconectar{
  color: #FFF8DE;
  font-family: "Unna-Bold";
  font-size: 20px;
}

.footer{
    font-family: 'Inria Sans';
    align-items: center;
    text-align: center;
    background-color:#99a98f;
  }
  
  .logoFooter{
    padding-top: 30px;
  }
  
  .lastFooter{
    padding-bottom: 30px;
  }
  
  .socialNetworks{
    padding: 10px;
  }