@import "compass/css3";

@import url("https://getbootstrap.com/dist/css/bootstrap.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

@import url("https://fonts.google.com/specimen/Pacifico?=pacifico");
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mensajeBienvenida {
  font-family: 'Inria Sans', sans-serif;
}


.desconectar1{
  text-decoration: none;
}

body{

  font-family: "Pacifico",'Unna', serif;
  width: 100%;
  height: 100%;
  background:#DBEAD2; /* Navegadores viejos */
  background: -webkit-linear-gradient(
    to left,
    #DBEAD2,
    #C1D0B5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #DBEAD2,
    #C1D0B5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
    margin: 0px;
}

.title{
    color: rgb(31, 23, 23);
}

.titles{
    position: center;
    top: 0;
    left: 0;
    font-family: "Pacifico", 'Unna';
    font-weight: 40px;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
.cabezera
{
    padding: 100px;
    width: 100%;
    border-collapse: collapse;
    background: color #99a98f;
}

.container{
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    background-image: color #99a98f;
}

.header{
    padding-left: 1%;
    padding-right: 2%;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #99a98f;
    box-shadow:inset;
    
}

.logo{
  color: #FFF8DE;
  font-size: 25px;
  display: flex;
  justify-content:left;
  font-family: "Pacifico";
 
  
}

.Desconectar{
  color: #FFF8DE;
  font-family: 'Unna';
  font-size: 20px;
}

.sidebar-menu {
  position:static;
  width: 50px;
  height: 200px;
  padding: 0.5%;
  padding-bottom: 15%;
  padding-top: 7%;
  background-color: #b8cea6;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  font-family: 'Young Serif';
}
.sidebar-menu {
  position: static;
  width: 120px;
  height: 100px;
  background-color: #b8cea6;
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
}
.sidebar {
  position:static;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 20px 10px;
}
.sidebar a .justify-icon {
  outline: 0;
  color:#FFF8DE;
  font-size: 24px;
  font-style: normal;
}
.sidebar a .logout-icon {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.sidebar ul li {
  margin: 5%;
  padding: 5%;
  margin-top: 20%;
  list-style-type: none;
}
.sidebar ul li a.expandable {
  outline: 0;
  color:#000000;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Young Serif';
  
}
.sidebar ul li a.expandable:hover {
  color: #bbbbbb;
}
.sidebar ul li a.expandable .expanded-element {
  margin-left: 2px;
  display: none;
  font-size: 11px;
  position: relative;
  bottom: 2px;
  text-decoration: none;
  font-family: 'Young Serif';
}

.expanded-element a{
  text-decoration: none;
}
.sidebar ul li.active {
  background: none repeat scroll 0 0 black;
  border-radius: 4px;
  text-align: center;
  margin-left: -4px;
  padding: 4px;
}
.sidebar ul li.active a.expandable {
  color: white !important;
}
.sidebar ul li.active a.expandable:hover {
  color: white !important;
}


.footer{
    font-family: 'Inria Sans';
    align-items: center;
    text-align: center;
    background-color:#99a98f;
  }
  
  .logoFooter{
    padding-top: 30px;
  }
  
  .lastFooter{
    padding-bottom: 30px;
  }
  
  .socialNetworks{
    padding: 10px;
  }

  .mensajeBienvenida{
    font-family: "Italianno";
    font-size: 24px;

  }

  