.botones{
    color: black;
}

.datos .contenedor__login-register{
    color: black;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    
}

body{
    background-image: url('http://localhost/PocketGuardian-UNICAES/HTML-CSS-JS/img/bg_login.png');
}