@import url("https://fonts.google.com/specimen/Pacifico?=pacifico");
@import url("https://fonts.google.com/specimen/Unna/about?query=unna");
@import url("https://fonts.google.com/specimen/Italianno?query=italian");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Unna-regular";
}

body{
    background-image: url(https://www.solidbackgrounds.com/download/2560x1440-blue-stained-glass-free-website-background-image.jpg);
}