.moda_cuenta{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
}

.modal_containerC{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: bisque;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}