*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px; 
}


.fondo{
    background-color: color#f7edcb;
    width: 100%;
}

p{
    margin: 0px;
}

.title{
    color: rgb(31, 23, 23);
}

.titles{
    position: center;
    top: 0;
    left: 0;
    font-family: "Pacifico-Regular", Helvetica;
    font-weight: 40px;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
.cabezera
{
    padding: 100px;
    width: 100%;
    border-collapse: collapse;
    background: color #99a98f;
}

.container{
    width: 100%;
    border-collapse: collapse;
    background-image: color #99a98f;
}

.header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    font-family: 'Inria Sans';
    align-items: center;
    text-align: center;
    background-color: #f8f3ee;
  }
  
  .logoFooter{
    padding-top: 30px;
  }
  
  .lastFooter{
    padding-bottom: 30px;
  }
  
  .socialNetworks{
    padding: 10px;
  }